Practical 1: Program based on DataType.

1. Program Numeric Data Type

In [4]:
#create a variable with integer value.
a_antima=100
print("The type of variable having value", a_antima, "is" , type(a_antima))

#create a variable with float value.
b_antima=10.3432
print("The type of variable having value", b_antima, "is" , type(b_antima))

#create a variable with complex value.
c_antima=100+6j
print("The type of variable having value", c_antima, "is" , type(c_antima))

The type of variable having value 100 is <class 'int'>
The type of variable having value 10.3432 is <class 'float'>
The type of variable having value (100+6j) is <class 'complex'>

2. Python String Datatype.

In [5]:
a_antima = "string in a double quote"
b_antima= 'string in a single quote'
print(a_antima)
print()
print(b_antima)
print()

#using ',' to concatenate the two or several strings
print(a_antima,"concatenated with",b_antima)

print()
#using '+' to concate the two or several strings
print(a_antima+" concated with "+b_antima)

string in a double quote

string in a single quote

string in a double quote concatenated with string in a single quote

string in a double quote concated with string in a single quote

3. Python List Data Type

In [7]:
#list of having only integers
a_antima = [1,2,3,4,5,6]
print(a_antima)
print()

#list of having only strings
b_antima=["antima","Prajakta","rohini","deepali"]
print(b_antima)
print()

#list of having both integers and strings
c_antima= ["hey","you",1,2,3,"go"]
print(c_antima)
print()

#index are 0 based.this will print a single character
print(c_antima[2]) #this will print "you" in list c

[1, 2, 3, 4, 5, 6]

['antima', 'Prajakta', 'rohini', 'deepali']

['hey', 'you', 1, 2, 3, 'go']

1

4. Python Tuple

In [8]:
#tuple having only integer type of data
a_antima=(1,2,3,4)
print(a_antima) #prints the whole tuple
print()

#tuple having multiple type of data
b_antima=("hello" , 1,2,3,"go")
print(b_antima) #prints the whole tuple
print()

#index of tuples are also 0 based
print(b_antima[4]) #this prints a single element in a tuple, in the case "go"

(1, 2, 3, 4)

('hello', 1, 2, 3, 'go')

go

5. Python Dictionary

In [9]:
#a sample dictionary variable

a_antima={1:"first name",2:"last name", "age":33}
print(a_antima)
print()

#print value having key=1
print(a_antima[1])
print()

#print value having key=2
print(a_antima[2])
print()

#print value having key="age"
print(a_antima["age"])

{1: 'first name', 2: 'last name', 'age': 33}

first name

last name

33

6. Python Set

In [10]:
a_antima= {5,6,3,4,1}
print(a_antima)
print()

#printing set variable
print("a_antima = ", a_antima)
print()

#data type of variable a
print("the data type of a_antima is :" ,type(a_antima))

{1, 3, 4, 5, 6}

a_antima =  {1, 3, 4, 5, 6}

the data type of a_antima is : <class 'set'>

In [ ]:
We can perform set operation like union, intersection on two sets. Sets have unique values. They eliminate duplicates.

In [11]:
a_antima = {1,2,3,5,4,5,3,1}
print(a_antima)

{1, 2, 3, 4, 5}